@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: #30e3df;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

#list {
  border: 1px solid black;
}

.main-section {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.scores-section {
  display: inline-block;
  vertical-align: top;
}

.heading {
  display: flex;
  gap: 1rem;
}

#btn-refresh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leader-board {
  display: inline-block;
  vertical-align: top;
}

.availableScore {
  display: flex;
  justify-content: space-between;
  gap: 8.5rem;
  align-items: center;
  padding: 0 15px;
  margin: 0;
}

.availableScore:nth-child(even) {
  background-color: #eee;
}

.availableScore:nth-child(odd) {
  background-color: #fff;
}

.forminput {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
}

button {
  align-items: center;
  appearance: none;
  border: 0;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#btn {
  float: right;
}
